/* Full-width Navigation Bar */
.navbar {
  width: 100%;
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

/* Full-width Header Image */
.add-post-form {
  display: flex;
  justify-content: center; 
  justify-content: space-between;
}

.add-post-form button {

  background-color: rgb(52, 219, 241);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px;
  margin-bottom:1% ;
}

.img {
  width: 100%;
  height: 50%; /* Modifier le height de img */
}

/* Container for entire layout */
.forum-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: auto;
}

/* Left Sidebar */
.left-sidebar {
  flex: 1;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Right Sidebar */
.right-sidebar {
  flex: 1;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Main Forum Content */
.forum {
  flex: 3;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Sidebar Sections */
.sidebar-section, .tags-section, .meetups-section, .podcasts-section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-section h3, .tags-section h3, .meetups-section h3, .podcasts-section h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.tags-section ul {
  list-style-type: none;
  padding: 0;
}

.tags-section li {
  color: #2980b9;
  padding: 5px 0;
  cursor: pointer;
}

.tags-section li:hover {
  text-decoration: underline;
}

/* Main Forum Content */
.post {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
  color: #2c3e50;
  margin-top: 0;
  font-size: 1.8em;
}

.post p {
  color: #34495e;
  line-height: 1.6;
  font-size: 1.1em;
}

.post-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #7f8c8d;
  font-size: 0.9em;
  margin-top: 15px;
}

.post-stats {
  display: flex;
  gap: 16px;
  font-weight: bold;
}

.post img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}


