@font-face {
    font-family: poppins;
    src: url('/public/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppinsBold;
    src: url('/public/fonts/poppins/Poppins-Bold.ttf');
}

.NavbarContainer {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    background: transparent;
}

.Logo {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    font-family: 'poppinsBold';
}

/* Ensure this doesn't conflict with Tailwind's flex classes */
.NavMenu {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 5rem;
    align-items: center;
}

.NavItem {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'poppins';
    text-decoration: none;
    transition: color 0.3s ease;
}

.NavItem:hover {
    color: #ddd;
}

.DropItem {
    font-family: 'poppins';
    @apply block px-4 py-2 hover:bg-gray-700;
}

.DropItem2 {
    font-family: 'poppins';
    @apply block px-16 py-2 hover:bg-gray-700;
}

/* Adjust AccountMenu to be on the right side */
.AccountMenu {
    display: flex;
    list-style: none;
    gap: 5rem;
    margin-left: auto; 
}

.LoginItem {
    font-family: 'poppins';
    font-size: 1.3rem;
    color: #111;
    background-color: #BBB;
    padding: 0.6rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.LoginItem:hover {
    background-color: #999;
}

.HamburgerMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 20;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .HamburgerMenu.open {
    transform: rotate(90deg); /* Exemple : faire tourner le bouton quand il est ouvert */
  }
