@font-face {
    font-family: poppins;
    src: url('/public/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppinsBold;
    src: url('/public/fonts/poppins/Poppins-Bold.ttf');
}

.NavbarContainer {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    background:transparent;
    

}

.Logo {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    font-family: 'poppinsBold';
    text-shadow: 0
    5px
    10px
    rgba(
      0,
      0,
      0,
      0.6
    );
}

/* Ensure this doesn't conflict with Tailwind's flex classes */
.NavMenu {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 5rem;
    align-items: center;
}

.NavItem {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: 'poppins';
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 0
    5px
    10px
    rgba(
      0,
      0,
      0,
      0.6
    );
}

.NavItem:hover {
    color: #ddd;
}

.DropItem {
    font-family: 'poppins';
    @apply block px-4 py-2 hover:bg-gray-700;
}

.DropItem2 {
    font-family: 'poppins';
    @apply block px-16 py-2 hover:bg-gray-700;
}

/* Adjust AccountMenu to be on the right side */
.AccountMenu {
    display: flex;
    list-style: none;
    gap: 5rem;
    margin-left: auto; 
}

.LoginItem {
    margin-left: auto; 
    font-family: 'poppins';
    font-size: 1.3rem;
    color: #111;
    background-color: #BBB;
    padding: 0.6rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0
    5px
    10px
    rgba(
      0,
      0,
      0,
      0.6
    );
}

.LoginItem:hover {
    background-color: #999;
}

.HamburgerMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 20;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .HamburgerMenu.open {
    transform: rotate(90deg); /* Exemple : faire tourner le bouton quand il est ouvert */
  }


.popup-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}

.popup {
padding: 20px;
border-radius: 8px;
width: 90%;
max-width: 400px;
position: relative;
}

.close-button {
position: absolute;
top: 75px;
right: 10px;
background: none;
border: none;
font-size: 30px;
color: #fff;
cursor: pointer;
}
  